<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body style="background-color:green;">

    <form onsubmit="return false" name="quiz" id="quiz">

            <p style="background:lightblue;font-size:90px; color:black; text-align:center;"> MY FAVORITE COLOR IS </p>        
            <p>   <input type="radio" name="question1" value="blue">         BLUE                          </p>
            <p>   <input type="radio" name="question1" value="red">          RED                          </p>        
            <p>   <input type="radio" name="question1" value="green">        GREEN                          </p>    
            <p>   <input type="radio" name="question1" value="black">        BLACK                          </p> 


    <div class="toCenter">   <input type="submit" class="submit" name="" value="SUBMIT" onclick="check()" ></div>
    </form>



</body>
<script src="logic.js"></script>
</html>